:root {
    --main-color: white;
    --light-main-color: #1A1A1A;   
    --max-page-size: 1024px;
    --hpixels-to-centralize: calc((100vw - var(--max-page-size)) / 2);
}
* {
    color: white;
}

body {
    overflow-x: hidden;
    background-color: #141414;
}

p {
    color: #999999;
}

.column {
    width: auto;
    margin: 0;
}

.column-row {
    gap: 20px;
    display: flex;
}

.navbar, .nav {
    height: var(--navbar-height);
}

.navbar-nav {
    margin: 0;
    padding: 0;
    height: fit-content;
}

.nav-link {
    height: fit-content;
    img {
        height: fit-content;
    }
}

.nav {
    padding: 15px 40px;
}

.nav-right, .nav-left {
    height: fit-content;
    display: flex;
}

.main-page-background {
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    position: absolute;
    overflow: hidden;
    
    height: 650px;
    top: 0;
}

.background-movie-img {
    padding: 4px;
    width: 20vw;
}

.nav-center {
    border: solid var(--light-main-color) 2px;
    background-color: #0F0F0F;
    border-radius: 10px;
    padding: 5px;
}

.nav-item {
    margin: 0;

    height: fit-content;
}

.main-logo {
    max-width: 500px;
    width: 50%;
    margin: auto;

    img {
        width: 100%;
    }
}

.nav-icon {
    width: 24px;
}

.play-now-button {
    background-color: #0088FF;
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 18px 24px;
    border-radius: 8px;
    width: fit-content;
}

.first-content {
    margin: auto;
    width: 70%;
    align-items: center;
    
    h1 {
        font-weight: 700;
    }   
}

.categories {
    display: flex;
    overflow-x: scroll;

    gap: 10px;
    width: 100%;
}

@media screen and (max-width=1024px) {
    main {
        width: calc(100% - 60px);
    }
}
